@mixin text($fw, $fz, $lh){
  font-weight: $fw;
  font-size: $fz;
  line-height: $lh;
}

.partners {
  margin-bottom: 250px;
}
.content {
}
.game__title-block {
}
.partners__title{
  margin-bottom: 90px;
}
.game__title {
}
.partners__block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 29px 8px;
  background: url(./assets/img/partnersFrame.png) no-repeat;
  background-size: 100% 103%; 
  background-position: 0px -5px;
}
.partners__one {
  width: 250px;
  height: 150px;
  background: url(./assets/img/partners1.png) no-repeat;
  background-size: cover;
}
.partners__two {
  width: 250px;
  height: 75px;
  background: url(./assets/img/partners2.png) no-repeat;
  background-size: cover;

}
@media (max-width:1200px){
  .partners__block{
    background: none;
    flex-wrap: wrap;
  }
  .partners__one{
    margin: 0 5px;
  }
  .partners__two{
    margin: 0 5px;
  }
}
@media (max-width:900px){
  .partners .game__title-block{
    margin-bottom: 40px;
  }
}