@mixin text($fw, $fz, $lh){
  font-weight: $fw;
  font-size: $fz;
  line-height: $lh;
}

.roadmap {
  margin-bottom: 274px;
}
.content {
}

.roadmap__phases {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.phases {
  div:nth-child(4n-2)::before{
    content: 'Q3 2022';
  }
  div:nth-child(3n)::before{
    content: 'Q4 2022';
  }div:nth-child(4n)::before{
    content: 'Q1 2022';
  }


}
.phases__content{
  max-width: 243px;
  margin: 0 auto;
  height: 400px;
}
.phases__item {
  background: url(./assets/img/roadmapFrame.png) center center no-repeat;
  background-size: 105% 101%;
  padding: 70px 37px;
  margin-bottom: 40px;
  position: relative;
  &::before{
    content:'Q2 2022';
    display: block;
    width: 100px;
    height: 20px;
    left: 36%;
    position: absolute;
    top: 29px;
    color: #141537;
    font-family: "Good Timing";
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
  }
}
.phases__title {
  font-family: "good timing";
  @include text(700, calc(var(--index)* 1.5), 120%);
  margin-bottom: 30px;
}
.phases__list {

}
.phases__point {
  @include text(400, 18px, 140%);
  background: url(./assets/img/roadmapListMarker.svg) 0 9px no-repeat;
  margin-bottom: 12px;
  padding-left: 17px;
  
}
@media (max-width:700px){
  .roadmap__phases{
    justify-content: center;
  }
}