@import "nullstyle";
@import "header";
@import "welcome";
@import "game";
@import "instruction";
@import "roadmap";
@import "form";
@import "partners";
@import "footer";
@import "stars";


// переменные
:root{
  --index: calc(1vw + 1vh);
  --transition: 1s cubic-bezier(.05, .5, 0, 1);
}

// шрифты
@font-face {
  font-family: "good timing";
  src: url('./assets/fonts/goodTiming.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.wrapper {
  overflow: hidden;

  }

  body{
    font-family: 'Noto Sans', sans-serif;
    color: #fff;
    background: #141537;
    // width: 100%;
    // height: 100vh;
    scroll-behavior: smooth;
  }
  h2{
    font-family: "Good Timing";
  @include text(700, calc(var(--index)*2.8), 120%);
  }

.wrapper, .header, .header__item, .header__presentation, .welcome__orange-planet, .welcome__blue-planet, .welcome__meteor, .game, .game__title-svg-left,
.game__title-svg-right, .game__title, .instruction__horses, .form__block, .form__blue-planet, .form__red-planet, .form__meteor, .form__green-planet{
  will-change: transform;
}